body{
margin:0;
font-family:-apple-system;
}

.topbar{

position:fixed;

width:100%;

background:#111;

padding:10px;

z-index:999;

}

input{

width:70%;

padding:10px;

border-radius:6px;

border:none;

}

button{

padding:10px 20px;

margin-left:10px;

border:none;

border-radius:6px;

background:#007aff;

color:white;

}

#viewer{

position:absolute;

top:60px;

width:100%;

height:calc(100vh - 60px);

border:none;

}
